.modal {
  padding: 20px;
  border-radius: 8px;
  font-size: 14px;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttonsBlock button {
  color: orange;
  background-color: black;
  border: 1px solid orange;
  border-radius: 2px;
  padding: 2px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
